/* *{
    background-color: mediumaquamarine;
} */
body{
    background-image: url(../images/backgroundimg.jpeg);
}
#headertext{
    text-align: center;
    font-family: 'Righteous', cursive;
    font-size: 100px;
    margin: 0px;
    padding: 0px;
}
#directionstext{
    text-align: center;
    font-family: 'Righteous', cursive;
    font-size: 14px;
    background-color: rgb(99, 144, 240);
    border: dashed black;
    padding-bottom: 0;
}
p{
    background-color: rgb(223, 174, 243);
}
#images{
    text-align: center;
    margin-top: 20px;
}
#randomnumbertext{
    background-color: #f0d660;
    border: dotted black;
    text-align: center;
    font-family: 'Righteous', cursive;
    margin-top: 10px;
}
#scoretext{
    background-color: #fd7e14;
    border: dotted black;
    text-align: center;
    font-family: 'Righteous', cursive;
    margin-top: 10px;
}
#winloss{
    text-align: center;
    font-family: 'Righteous', cursive;
    /* background-color: mintcream; */
}